.button{
    margin-top: 10%;
}

#btn{
    background-color: blueviolet;
    padding: 12px 20px;
    border-radius: 8px;
}

#btn:hover{
    background-color: red;
    -webkit-transition: background-color .70s ease-out;
    -moz-transition: background-color .70s ease-out;
    -o-transition: background-color .70s ease-out;
    transition: background-color .70s ease-out;

    margin-left: 15%;
    -webkit-transition: margin-left .70s ease-out;
    -moz-transition: margin-left .70s ease-out;
    -o-transition: margin-left .70s ease-out;
    transition: margin-left .70s ease-out;
}

#lnk:hover{
    padding: 100px 100px 100px 100px;
    -webkit-transition: padding .35s ease-out;
    -moz-transition: padding .35s ease-out;
    -o-transition: padding .35s ease-out;
    transition: padding .35s ease-out;
}

.link, .button{
    margin-left: 40%;
    
}

.link{
    margin-top: 15%;
}

#lnk{
    background-color: blue;
    padding: 13px 30px; 
    border-radius: 8px;
}