  #player {
    width: 800px;
    height: 600px;
    margin-left: 15%;  
  }

  #runner{
    width: 240px; 
    height: 290px;
    position: absolute;
  }

  .runner{
    background-image: url(../../img/img1.webp);
    animation: run 4s steps(23,start) infinite;
    background-position: 0 64px;
  }

  @keyframes run {
    0% {background-position: 0 0}
    100% {background-position: -5900px 0}
  }
  

  