#link{
    margin-top: 15%;
    margin-left: 40%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    
}

.lnk{
    background-color: blue;
    padding: 80px 80px; 
    border-radius: 8px;
}

.rotate{
    -ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Safari 3-8 */
    transform: rotate(5deg);
}

.translate{
    transform: translateX(20px);
    transform: translateY(-30px);
}

.scale{
    transform: scaleX(2);
    transform: scaleY(2);
}

.skew{
    transform: skewX(10deg);
    transform: skewY(-5deg);
}